<div>
  <h2 id="page-heading" data-cy="FiliereHeading" style="text-align: center; font-style: italic; font-weight: bold">
    <span>Filieres de formation professionnelle</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button> -->

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-filiere"
        [routerLink]="['/filiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Creer une nouvelle Filiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="filieres?.length === 0">
    <span>Aucune filiere trouvee</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="filieres && filieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="nomFiliere"><span>Nom Filiere</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="niveauEtude"><span>Niveau Etude</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="programme"><span>Programme</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="autreNiveauEtude"><span>Autre Niveau Etude</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreFiliere"><span>Autre Filiere</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="etablissement.nomEtablissement"><span>Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filiere of filieres; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/filiere', filiere.id, 'view']">{{ filiere.id }}</a>
          </td> -->
          <td>{{ filiere.nomFiliere }}</td>
          <td>{{ filiere.niveauEtude }}</td>
          <td>{{ filiere.programme }}</td>
          <!-- <td>{{ filiere.autreNiveauEtude }}</td>
          <td>{{ filiere.autreFiliere }}</td> -->
          <td>
            <div *ngIf="filiere.etablissement">
              <a [routerLink]="['/etablissement', filiere.etablissement?.id, 'view']">{{ filiere.etablissement?.nomEtablissement }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/filiere', filiere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Voir</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/filiere', filiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editer</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(filiere)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filieres && filieres.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
