<!-- <div class="footer">
  <p>This is your footer</p>
</div> -->

<!-- Footer -->
<div class="footer text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="footer" style="background-color: mediumblue; color: aliceblue">
    <div class="container text-center text-md-start mt-0">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>MEFPAI</h6>
          <p>Ministere de l'emploi, de la formation professionnelle, de l'apprentissage et de l'insertion</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Liens utiles</h6>
          <p>
            <a href="#!" class="text-reset">Gouvernement du senegal</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Presidence</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Mefpai</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cellule informatique</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Nos partenaires</h6>
          <p>
            <a href="https://3fpt.sn/" class="text-reset">3FPT</a>
          </p>

          <p>
            <a href="https://anpej.sn/" class="text-reset">ANPEJ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ONFP</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Dage</a>
          </p>
          <p>
            <a href="#!" class="text-reset">SEN032</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Senegal, Diamniadio</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mefpai@gouv.sn
          </p>
          <p><i class="fas fa-phone me-3"></i> + 33 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 33 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(44, 43, 43, 0.05)">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="http://www.mefpai.gouv.sn/">CI/Mefpai</a>
  </div>
  <!-- Copyright -->
</div>
<!-- Footer -->
