<div>
  <h2 id="page-heading" data-cy="FormationHeading" style="text-align: center; font-style: italic; font-weight: bold">
    <span>Formations professionnelles et techniques</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formation"
        [routerLink]="['/formation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Creer une nouvelle Formation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formations?.length === 0">
    <span>Aucune formation trouvée</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formations && formations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomFormation"><span>Nom Formation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeFormation"><span>Type Formation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="duree"><span>Duree</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="admission"><span>Admission</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="diplomeRequis"><span>Diplome Requis</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="autreDiplome"><span>Autre Diplome</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="secteur"><span>Secteur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreSecteur"><span>Autre Secteur</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="ficheFormation"><span>Fiche Formation</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="programmes"><span>Programmes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomConcours"><span>Nom Concours</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateOuverture"><span>Date Ouverture</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateCloture"><span>Date Cloture</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateConcours"><span>Date Concours</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libellePC"><span>Libelle PC</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montantPriseEnCharge"><span>Montant Prise En Charge</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="detailPC"><span>Detail PC</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="nomDiplome"><span>Nom Diplome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomDebouche"><span>Nom Debouche</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formation of formations; trackBy: trackId" data-cy="entityTable">
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a [routerLink]="['/formation', formation.id, 'view']">{{ formation.id }}</a>
          </td>
          <td>{{ formation.nomFormation }}</td>
          <td>{{ formation.typeFormation }}</td>
          <td>{{ formation.duree }}</td>
          <td>{{ formation.admission }}</td>
          <td>{{ formation.diplomeRequis }}</td>
          <!-- <td>{{ formation.autreDiplome }}</td>
          <td>{{ formation.secteur }}</td>
          <td>{{ formation.autreSecteur }}</td> -->
          <!-- <td>
            <a *ngIf="formation.ficheFormation" (click)="openFile(formation.ficheFormation, formation.ficheFormationContentType)">open</a>
            <span *ngIf="formation.ficheFormation"
              >{{ formation.ficheFormationContentType }}, {{ byteSize(formation.ficheFormation) }}</span
            >
          </td> -->
          <!-- <td>{{ formation.programmes }}</td>
          <td>{{ formation.nomConcours }}</td>
          <td>{{ formation.dateOuverture | formatMediumDate }}</td>
          <td>{{ formation.dateCloture | formatMediumDate }}</td>
          <td>{{ formation.dateConcours | formatMediumDate }}</td>
          <td>{{ formation.libellePC }}</td>
          <td>{{ formation.montantPriseEnCharge }}</td>
          <td>{{ formation.detailPC }}</td>
          <td>{{ formation.nomDiplome }}</td>
          <td>{{ formation.nomDebouche }}</td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/formation', formation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <a *ngIf="formation.ficheFormation" (click)="openFile(formation.ficheFormation, formation.ficheFormationContentType)"
                  >Voir</a
                >
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/formation', formation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editer</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(formation)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="formations && formations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
