<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-demandeur-heading" data-cy="DemandeurCreateUpdateHeading">Editer un Demandeur</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateNaiss">Date Naiss</label>
          <div class="input-group">
            <input
              id="field_dateNaiss"
              data-cy="dateNaiss"
              type="text"
              class="form-control"
              name="dateNaiss"
              ngbDatepicker
              #dateNaissDp="ngbDatepicker"
              formControlName="dateNaiss"
            />
            <button type="button" class="btn btn-secondary" (click)="dateNaissDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lieuNaiss">Lieu Naiss</label>
          <input type="text" class="form-control" name="lieuNaiss" id="field_lieuNaiss" data-cy="lieuNaiss" formControlName="lieuNaiss" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null"></option>
            <option *ngFor="let sexe of sexeValues" [value]="sexe">{{ sexe }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_telephone">Telephone</label>
          <input type="number" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_profil">Profil</label>
          <select class="form-control" name="profil" formControlName="profil" id="field_profil" data-cy="profil">
            <option [ngValue]="null"></option>
            <option *ngFor="let profil of profilValues" [value]="profil">{{ profil }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dossier">Dossier</label>
          <select class="form-control" id="field_dossier" data-cy="dossier" name="dossier" formControlName="dossier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dossierOption.id === editForm.get('dossier')!.value?.id ? editForm.get('dossier')!.value : dossierOption"
              *ngFor="let dossierOption of dossiersCollection; trackBy: trackDossierById"
            >
              {{ dossierOption.numDossier }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eleve">Eleve</label>
          <select class="form-control" id="field_eleve" data-cy="eleve" name="eleve" formControlName="eleve">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="eleveOption.id === editForm.get('eleve')!.value?.id ? editForm.get('eleve')!.value : eleveOption"
              *ngFor="let eleveOption of elevesCollection; trackBy: trackEleveById"
            >
              {{ eleveOption.cni }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_etudiant">Etudiant</label>
          <select class="form-control" id="field_etudiant" data-cy="etudiant" name="etudiant" formControlName="etudiant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption"
              *ngFor="let etudiantOption of etudiantsCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.cni }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_professionnel">Professionnel</label>
          <select
            class="form-control"
            id="field_professionnel"
            data-cy="professionnel"
            name="professionnel"
            formControlName="professionnel"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                professionnelOption.id === editForm.get('professionnel')!.value?.id
                  ? editForm.get('professionnel')!.value
                  : professionnelOption
              "
              *ngFor="let professionnelOption of professionnelsCollection; trackBy: trackProfessionnelById"
            >
              {{ professionnelOption.cni }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
