<div>
  <h2 id="page-heading" data-cy="PriseEnChargeHeading" style="text-align: center; font-style: italic; font-weight: bold">
    <span>Bons de formation</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button> -->

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prise-en-charge"
        [routerLink]="['/prise-en-charge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Creer un bon </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="priseEnCharges?.length === 0">
    <span>Aucun bon de formation trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="priseEnCharges && priseEnCharges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="libelle"><span>Libelle</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montant"><span>Montant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nbrePC"><span>Nbre PC</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="details"><span>Details</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bailleur.nomProjet"><span>Bailleur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="formation.nomFormation"><span>Formation</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let priseEnCharge of priseEnCharges; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/prise-en-charge', priseEnCharge.id, 'view']">{{ priseEnCharge.id }}</a>
          </td> -->
          <td>{{ priseEnCharge.libelle }}</td>
          <td>{{ priseEnCharge.montant }}</td>
          <td>{{ priseEnCharge.nbrePC }}</td>
          <td>{{ priseEnCharge.details }}</td>
          <td>
            <div *ngIf="priseEnCharge.bailleur">
              <a [routerLink]="['/bailleur', priseEnCharge.bailleur?.id, 'view']">{{ priseEnCharge.bailleur?.nomProjet }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="priseEnCharge.formation">
              <a [routerLink]="['/formation', priseEnCharge.formation?.id, 'view']">{{ priseEnCharge.formation?.nomFormation }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prise-en-charge', priseEnCharge.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Voir</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/prise-en-charge', priseEnCharge.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editer</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                (click)="delete(priseEnCharge)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="priseEnCharges && priseEnCharges.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
