<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eleve">
      <h2 data-cy="eleveDetailsHeading"><span>Details sur cet Eleve</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ eleve.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ eleve.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ eleve.prenom }}</span>
        </dd>
        <dt><span>Date Naiss</span></dt>
        <dd>
          <span>{{ eleve.dateNaiss | formatMediumDate }}</span>
        </dd>
        <dt><span>Lieu Naiss</span></dt>
        <dd>
          <span>{{ eleve.lieuNaiss }}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
          <span>{{ eleve.sexe }}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
          <span>{{ eleve.telephone }}</span>
        </dd>
        <dt><span>Adresse Physique</span></dt>
        <dd>
          <span>{{ eleve.adressePhysique }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ eleve.email }}</span>
        </dd>
        <dt><span>Cni</span></dt>
        <dd>
          <span>{{ eleve.cni }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ eleve.user?.login }}</span>
        </dd>
        <dt><span>Dossier</span></dt>
        <dd>
          <div *ngIf="eleve.dossier">
            <a [routerLink]="['/dossier', eleve.dossier?.id, 'view']">{{ eleve.dossier?.numDossier }}</a>
          </div>
        </dd>
        <dt><span>Localite</span></dt>
        <dd>
          <div *ngIf="eleve.localite">
            <a [routerLink]="['/localite', eleve.localite?.id, 'view']">{{ eleve.localite?.region }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button" [routerLink]="['/eleve', eleve.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
      </button>
    </div>
  </div>
</div>
