<div>
  <h2 id="page-heading" data-cy="ServicesHeading">
    <span>Services</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-services"
        [routerLink]="['/services/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Services </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="services?.length === 0">
    <span>No services found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="services && services.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="logo"><span>Logo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomService"><span>Nom Service</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="chefService"><span>Chef Service</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isPilotage"><span>Is Pilotage</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commission.nomCommission"><span>Commission</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let services of services; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/services', services.id, 'view']">{{ services.id }}</a>
          </td>
          <td>
            <a *ngIf="services.logo" (click)="openFile(services.logo, services.logoContentType)">
              <img [src]="'data:' + services.logoContentType + ';base64,' + services.logo" style="max-height: 30px" alt="services image" />
            </a>
            <span *ngIf="services.logo">{{ services.logoContentType }}, {{ byteSize(services.logo) }}</span>
          </td>
          <td>{{ services.nomService }}</td>
          <td>{{ services.chefService }}</td>
          <td>{{ services.description }}</td>
          <td>{{ services.isPilotage }}</td>
          <td>
            <div *ngIf="services.commission">
              <a [routerLink]="['/commission', services.commission?.id, 'view']">{{ services.commission?.nomCommission }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/services', services.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/services', services.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(services)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="services && services.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
