<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-piece-jointe-heading" data-cy="PieceJointeCreateUpdateHeading">Create or edit a Piece Jointe</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_typePiece">Type Piece</label>
          <select class="form-control" name="typePiece" formControlName="typePiece" id="field_typePiece" data-cy="typePiece">
            <option [ngValue]="null"></option>
            <option *ngFor="let typePiece of typePieceValues" [value]="typePiece">typePiece</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomPiece">Nom Piece</label>
          <input type="text" class="form-control" name="nomPiece" id="field_nomPiece" data-cy="nomPiece" formControlName="nomPiece" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_demande">Demande</label>
          <select class="form-control" id="field_demande" data-cy="demande" name="demande" formControlName="demande">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="demandeOption.id === editForm.get('demande')!.value?.id ? editForm.get('demande')!.value : demandeOption"
              *ngFor="let demandeOption of demandesSharedCollection; trackBy: trackDemandeById"
            >
              {{ demandeOption.libelle }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
