<!-- <div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-services-heading" data-cy="ServicesCreateUpdateHeading">Create or edit a Services</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="services image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomService">Nom Service</label>
          <input
            type="text"
            class="form-control"
            name="nomService"
            id="field_nomService"
            data-cy="nomService"
            formControlName="nomService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_chefService">Chef Service</label>
          <input
            type="text"
            class="form-control"
            name="chefService"
            id="field_chefService"
            data-cy="chefService"
            formControlName="chefService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPilotage">Is Pilotage</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPilotage"
            id="field_isPilotage"
            data-cy="isPilotage"
            formControlName="isPilotage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commission">Commission</label>
          <select class="form-control" id="field_commission" data-cy="commission" name="commission" formControlName="commission">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commissionOption.id === editForm.get('commission')!.value?.id ? editForm.get('commission')!.value : commissionOption
              "
              *ngFor="let commissionOption of commissionsCollection; trackBy: trackCommissionById"
            >
              {{ commissionOption.nomCommission }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div> -->

<!-- <div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-services-heading" data-cy="ServicesCreateUpdateHeading">Create or edit a Services</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="services image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomService">Nom Service</label>
          <input
            type="text"
            class="form-control"
            name="nomService"
            id="field_nomService"
            data-cy="nomService"
            formControlName="nomService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_chefService">Chef Service</label>
          <input
            type="text"
            class="form-control"
            name="chefService"
            id="field_chefService"
            data-cy="chefService"
            formControlName="chefService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isPilotage">Is Pilotage</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPilotage"
            id="field_isPilotage"
            data-cy="isPilotage"
            formControlName="isPilotage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commission">Commission</label>
          <select class="form-control" id="field_commission" data-cy="commission" name="commission" formControlName="commission">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commissionOption.id === editForm.get('commission')!.value?.id ? editForm.get('commission')!.value : commissionOption
              "
              *ngFor="let commissionOption of commissionsCollection; trackBy: trackCommissionById"
            >
              {{ commissionOption.nomCommission }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div> -->

<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-services-heading" data-cy="ServicesCreateUpdateHeading">Creer ou editer un service</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="row mb-3">
          <!-- <label class="form-label" for="field_logo">Logo</label> -->
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="services image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <!-- <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span> -->
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomService">Nom Service</label>
          <input
            type="text"
            class="form-control"
            name="nomService"
            id="field_nomService"
            data-cy="nomService"
            formControlName="nomService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_chefService">Chef Service</label>
          <input
            type="text"
            class="form-control"
            name="chefService"
            id="field_chefService"
            data-cy="chefService"
            formControlName="chefService"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-label" for="field_isPilotage">Est un service de pilotage?</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPilotage"
            id="field_isPilotage"
            data-cy="isPilotage"
            formControlName="isPilotage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commission">Commission</label>
          <select class="form-control" id="field_commission" data-cy="commission" name="commission" formControlName="commission">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commissionOption.id === editForm.get('commission')!.value?.id ? editForm.get('commission')!.value : commissionOption
              "
              *ngFor="let commissionOption of commissionsCollection; trackBy: trackCommissionById"
            >
              {{ commissionOption.nomCommission }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
