<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prise-en-charge-heading" data-cy="PriseEnChargeCreateUpdateHeading">Creer un nouveau bon de formation</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="row mb-3">
          <label class="form-label" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nbrePC">Nbre PC</label>
          <input type="number" class="form-control" name="nbrePC" id="field_nbrePC" data-cy="nbrePC" formControlName="nbrePC" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bailleur">Bailleur</label>
          <select class="form-control" id="field_bailleur" data-cy="bailleur" name="bailleur" formControlName="bailleur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="bailleurOption.id === editForm.get('bailleur')!.value?.id ? editForm.get('bailleur')!.value : bailleurOption"
              *ngFor="let bailleurOption of bailleursSharedCollection; trackBy: trackBailleurById"
            >
              {{ bailleurOption.nomProjet }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_formation">Formation</label>
          <select class="form-control" id="field_formation" data-cy="formation" name="formation" formControlName="formation">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="formationOption.id === editForm.get('formation')!.value?.id ? editForm.get('formation')!.value : formationOption"
              *ngFor="let formationOption of formationsSharedCollection; trackBy: trackFormationById"
            >
              {{ formationOption.nomFormation }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
